@use "../util" as *;
html {
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
