@use "../util/" as *;

.main {
  background-color: hsl(0, 0%, 94%);
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
  top: 5rem;

  //padding-bottom: 10rem;

  &__wrapper {
    padding: rem(40) 0;
    width: 100%;
    height: 100%;
  }

  &__pin-nav {
    display: flex;
    column-gap: 1.5rem;
    font-size: var(--m-font-size);
    font-weight: var(--font-semi-bold);
    position: absolute;
    top: 5rem;
  }

  &__btn {
    border-radius: rem(8);
    cursor: pointer;
    padding: rem(8);
    position: relative;

    &-active::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      width: 80%;
      transform: translate(-50%, -50%);
      border-bottom: 3px solid black;
    }
  }
  &__create {
  }
  &__save {
    &:hover {
      background-color: #dadada;
    }
  }
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100%;
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translate(-50%);
}

.main__input {
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
}

.add {
  display: flex;
  flex-direction: column;
  padding: rem(40) rem(40) 0;
  background-color: #fff;

  width: rem(880); //
  min-width: rem(880); //
  height: rem(650); //

  border-radius: rem(16);

  padding: rem(40) rem(40) 0;

  // z-index: var(--z-modal);

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(20);
  }
  &__edit {
  }
  &__ellipsis {
    background-color: hsl(0, 0%, 100%);

    padding: rem(12);

    border-radius: 50%;
    cursor: pointer;

    color: hsl(0, 0%, 46%);

    transition: all 0.2s ease;

    &:hover {
      background-color: hsl(0, 0%, 94.1%);
    }
  }
  &__board {
    display: flex;
  }
  &__select-board-container {
    display: flex;
    position: relative;
  }

  &__select-board {
    display: flex;
    justify-content: space-between;

    height: rem(40);

    align-items: center;
    background-color: rgb(239, 239, 239);

    cursor: pointer;

    width: rem(200);
    height: rem(40);

    padding: 0px rem(10);

    border-radius: rem(8) 0px 0px rem(8);
  }

  &__arrow-down {
    pointer-events: none;

    position: absolute;
    right: 0.6rem;
    top: 50%;
    transform: translate(0, -50%);
  }
  &__save {
    color: white;

    font-weight: var(--font-semi-bold);
    background-color: rgb(230, 0, 35);

    cursor: pointer;

    height: rem(40);
    padding: 0 rem(14);
    border-radius: 0px 8px 8px 0px;
  }
}

.side__container {
  display: flex;

  width: 100%;

  height: 100%;

  padding: 0 0 rem(40);
}
.left-side {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 48%;
  border-radius: rem(8);

  padding: 0 rem(20);

  // background-color: blue;

  &__img-label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #efefef;
    border-radius: rem(8);
  }
  &__input {
    width: 0;
    height: 0;
    opacity: 0;
  }
  &__img-container {
    padding: rem(10);
    width: 100%;
    height: 100%;
  }

  &__dotted-border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    border: 2px dashed #dadada;
    width: 100%;
    height: 100%;
    border-radius: rem(8);

    position: relative;
  }

  &__mock-icon-container {
    background-color: transparent;
    color: #767676;
    font-size: 2.1rem;
    padding: 1.5rem;
  }
  &__upload-text {
    text-align: center;
    padding: 0 3rem;
  }
  &__recommend-size {
    text-align: center;

    position: absolute;
    bottom: 1.5rem;

    font-size: var(--s-font-size);
    color: #6c6c6c;

    padding: 0 1.1rem;
  }
  //uploaded image
  &__image-container {
    max-width: rem(344);
    max-height: rem(510);
    display: flex;
    padding: 0;
    border-radius: var(--card-border-radius); //

    overflow: hidden;

    display: none;
    opacity: 0;
  }
  &__image-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    overflow: hidden !important;
  }

  .pin_max_width {
    max-width: 100%;
  }
  .pin_max_height {
    max-height: 100%;
  }
  //
}

.right-side {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 52%;
  height: 100%;

  padding: 0 rem(20);

  //background-color: red;

  &__add-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
  }

  &__title,
  &__description,
  &__destination {
    width: 100%;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #dadada;
    white-space: pre-wrap !important;
    overflow: hidden;

    &:focus {
      border-bottom: 1px solid hsl(210, 100%, 45.5%);
    }
  }

  &__title {
    font-size: var(--l-font-size);
    height: rem(65);
    color: gray;
    padding-bottom: 2rem;
    margin-top: rem(32);
  }
  &__user {
    display: flex;
    margin-top: 2rem;
  }
  &__user-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: rem(48);
    height: rem(48);
    background-color: #efefef;
    border-radius: 50%;
    font-weight: 700;
    &:hover {
      background-color: #e6e6e6;
    }
  }

  &__user-name {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    font-weight: 700;
  }

  &__description {
    height: 2.5rem;
    margin-top: 1rem;
    font-size: var(--ml-font-size);
  }
  &__alt-text-container {
    margin-top: 1.5rem;
    min-width: rem(60);
    min-height: rem(40);

    width: max-content;
    display: inline-block;

    background-color: #efefef;
    border-radius: rem(24);

    cursor: pointer;
    &:hover {
      background-color: #e6e6e6;
    }
  }

  &__alt-text {
    font-weight: 700;
    display: inline-block;
    padding: rem(8) rem(12);

    text-align: center;
  }
  &__destination-container {
    display: flex;
    height: 40%;
  }
  &__destination {
    align-self: flex-end;
    padding-bottom: 0.7rem;
    font-size: var(--sm-font-size);
    color: #919090;
    margin-bottom: 0.5rem;
  }
}
