@use "../util/" as *;

:root {
  --card-width: 250px;
  --card-border-radius: 16px;
  --row-increment: 10px;
  --card-xxsmall: 13;
  --card-xsmall: 20;
  --card-small: 26;
  --card-medium: 33;
  --card-large: 45;

  @include breakpoint-down(medium) {
    --card-width: 230px;
  }

  @include breakpoint-down(small) {
    --card-width: 180px;
  }

  @include breakpoint-down(x-small) {
    --card-width: 1fr;
  }

  @media screen and (max-width: 360px) {
    --card-width: 1fr;
  }
}

.pin__container {
  margin: 5rem 0 0;
  padding: 0;

  width: 100%;
  height: 100%;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, var(--card-width));
  grid-auto-rows: var(--row-increment);

  @include breakpoint-down(medium) {
    margin: 0.5rem 0 0;
  }
}
